<div class="layui-main">
    
    <fieldset class="layui-elem-field">
        <legend>新增 & 编辑</legend>
        <div class="layui-field-box">
            <div class="layui-form">
                <div class="layui-form-item admin-item-inline">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="title" required  lay-verify="required" placeholder="登录账号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="password" name="title" required  lay-verify="required" placeholder="登录密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="password" name="title" required  lay-verify="required" placeholder="确认密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <select name="quiz">
                                <option value="">选择角色</option>
                                <option value="1">超级管理员</option>
                                <option value="2">客服部</option>
                                <option value="3">生产部</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button class="layui-btn">新增</button>
                            <button class="layui-btn layui-btn-danger">修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="layui-form">
        <table class="layui-table">
            <colgroup>
                <col width="50">
                <col width="200">
                <col width="200">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                    <th>登录账号</th>
                    <th>真实姓名</th>
                    <th>所属角色</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" name="" lay-skin="primary"></td>
                    <td>admin</td>
                    <td>梵天</td>
                    <td>超级管理员</td>
                    <td>
                        <a title="编辑" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a title="删除" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="11">
                        <div class="pages-account"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<script>
    (function(){
        form.render();
        adminPage.page($('.pages-account'), 3);
    })();
</script>