<div class="layui-main">
    
    <blockquote class="layui-elem-quote">
        <strong>后台管理系统基础模板</strong>
        <p>Tips: 未使用 iframe 来加载标签页面, 并通过hash记录打开标签</p>
        <p>Github地址：<a href="https://github.com/wwlsky/admintpl_wwl" target="_blank">下载</a></p>
        <div style="margin-top: 10px;">
            <button class="layui-btn" id="donate">捐赠作者</button>
        </div>
    </blockquote>

    <table class="layui-table">
        <tbody>
            <tr>
                <td colspan="4" class="admin-tr-title">服务器信息</th>
            </tr>
            <tr>
                <td>操作系统</td>
                <td>Windows Server 2008 R2</td>
                <td>服务器时间</td>
                <td>2017年7月4日07:42:46</td>
            </tr>
            <tr>
                <td>服务器IP地址</td>
                <td>127.0.0.1</td>
                <td>服务器端口</td>
                <td>80</td>
            </tr>
            <tr>
                <td colspan="4" class="admin-tr-title">模板信息</th>
            </tr>
            <tr>
                <td>模板名称</td>
                <td>admintpl</td>
                <td>模板版本</td>
                <td>v1.0</td>
            </tr>
            <tr>
                <td>开发作者</td>
                <td>梵天</td>
                <td>电子邮件</td>
                <td>502832965@qq.com</td>
            </tr>
        </tbody>
    </table>

    <div class="admin-logo-bg"></div>
</div>

<script>
    (function(){
        $('#donate').off('click').on('click', function() {
            adminLayer.openClickLayerTabs(350, 510, [
                {
                    title: '微信扫码',
                    content: '<img src="assets/images/weixin.jpg" width="100%">'
                },
                {
                    title: '支付宝',
                    content: '<img src="assets/images/zhifubao.jpg" width="100%">'
                }
            ]);
        });
    })();
</script>