<div class="layui-box">
    
    <table class="layui-table admin-table-info">
        <tbody>
            <tr>
                <td class="admin-table-td-info">订单编号</td>
                <td colspan="3">1499125819067</td>
                <td class="admin-table-td-info">下单时间</td>
                <td>2017-07-03</td>
            </tr>
            <tr>
                <td class="admin-table-td-info">产品品种</td>
                <td>蛋糕</td>
                <td class="admin-table-td-info">产品规格</td>
                <td>18CM</td>
                <td class="admin-table-td-info">产品数量</td>
                <td>5</td>
            </tr>
            <tr>
                <td class="admin-table-td-info">收货姓名</td>
                <td>梵天</td>
                <td class="admin-table-td-info">收货电话</td>
                <td>15888888888</td>
                <td class="admin-table-td-info">收货地址</td>
                <td>成都市二环路北二段99号</td>
            </tr>
            <tr>
                <td class="admin-table-td-info">订购渠道</td>
                <td>淘宝</td>
                <td class="admin-table-td-info">订购电话</td>
                <td colspan="3">15888888888</td>
            </tr>
            <tr>
                <td class="admin-table-td-info">配送方式</td>
                <td>公司配送</td>
                <td class="admin-table-td-info">配送费用</td>
                <td>￥200</td>
                <td class="admin-table-td-info">配送支付人</td>
                <td>老毛</td>
            </tr>
            <tr>
                <td class="admin-table-td-info">付款方式</td>
                <td>公司配送</td>
                <td class="admin-table-td-info">产品金额</td>
                <td>￥200</td>
                <td class="admin-table-td-info">付款方式</td>
                <td>支付宝</td>
            </tr>
            <tr>
                <td class="admin-table-td-info">配送员电话</td>
                <td>15888888888</td>
                <td class="admin-table-td-info">应收金额</td>
                <td>￥200</td>
                <td class="admin-table-td-info">已收金额</td>
                <td>￥200</td>
            </tr>
            <tr>
                <td class="admin-table-td-info">备注说明</td>
                <td colspan="6">二环路，需要 帽子、叉子、蜡烛</td>
            </tr>
        </tbody>
    </table>

</div>