<div class="layui-box">

    <table class="layui-table">
        <colgroup>
            <col width="100">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>#</th>
                <th>生产人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="name">梵天</td>
                <td>
                    <button class="layui-btn layui-btn-small layui-btn-danger tplConfirmSelProStaff">选择</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td class="name">张三</td>
                <td>
                    <button class="layui-btn layui-btn-small layui-btn-danger tplConfirmSelProStaff">选择</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td class="name">李四</td>
                <td>
                    <button class="layui-btn layui-btn-small layui-btn-danger tplConfirmSelProStaff">选择</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    (function(){
        form.render();
        $('.tplConfirmSelProStaff').off('click').on('click', function() {
            var name = $(this).parent().siblings('.name').text();
            var content = '您选择了：' + name;
            adminLayer.confirmInfoLayer('确认选择', content);
        });

    })();
</script>