<div class="layui-box">
	
	<form class="layui-form layui-form-pane" action="">
		
		<div class="layui-form-item">
			<fieldset class="layui-elem-field">
				<legend>产品信息</legend>
				<div class="layui-field-box">
					<div class="layui-inline">
						<label class="layui-form-label">产品品种</label>
						<div class="layui-input-inline">
							<select name="quiz">
								<option value="">选择品种</option>
								<option value="1">你工作的第一个城市</option>
								<option value="2">你的工号</option>
								<option value="3">你最喜欢的老师</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">产品规格</label>
						<div class="layui-input-inline">
							<select name="quiz">
								<option value="">选择规格</option>
								<option value="1">你工作的第一个城市</option>
								<option value="2">你的工号</option>
								<option value="3">你最喜欢的老师</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">产品数量</label>
			    		<div class="layui-input-inline">
			      			<input type="number" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		
		<div class="layui-form-item">
			<fieldset class="layui-elem-field">
				<legend>收货人信息</legend>
				<div class="layui-field-box">
						<div class="layui-inline">
							<label class="layui-form-label">收货姓名</label>
				    		<div class="layui-input-inline">
				      			<input type="text" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">收货电话</label>
				    		<div class="layui-input-inline">
				      			<input type="text" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">收货地址</label>
				    		<div class="layui-input-inline">
				      			<input type="text" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">收获时间</label>
				    		<div class="layui-input-inline">
						        <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})">
						    </div>
						</div>
					</div>
			</fieldset>
		</div>
		
		<div class="layui-form-item">
			<fieldset class="layui-elem-field">
				<legend>订购信息</legend>
				<div class="layui-field-box">
					<div class="layui-inline">
						<label class="layui-form-label">订购渠道</label>
						<div class="layui-input-inline">
							<select name="quiz">
								<option value="">选择渠道</option>
								<option value="1">你工作的第一个城市</option>
								<option value="2">你的工号</option>
								<option value="3">你最喜欢的老师</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">订购电话</label>
			    		<div class="layui-input-inline">
			      			<input type="text" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
						</div>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="layui-form-item">
			<fieldset class="layui-elem-field">
				<legend>配送信息</legend>
				<div class="layui-field-box">
					<div class="layui-inline">
						<label class="layui-form-label">配送方式</label>
						<div class="layui-input-inline">
							<select name="quiz">
								<option value="">选择配送方式</option>
								<option value="1">你工作的第一个城市</option>
								<option value="2">你的工号</option>
								<option value="3">你最喜欢的老师</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">配送费用</label>
			    		<div class="layui-input-inline">
			      			<input type="number" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">配送支付人</label>
			    		<div class="layui-input-inline">
			      			<input type="text" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
						</div>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="layui-form-item">
			<fieldset class="layui-elem-field">
				<legend>付款信息</legend>
				<div class="layui-field-box">
					<div class="layui-inline">
						<label class="layui-form-label">付款方式</label>
						<div class="layui-input-inline">
							<select name="quiz">
								<option value="">选择付款方式</option>
								<option value="1">你工作的第一个城市</option>
								<option value="2">你的工号</option>
								<option value="3">你最喜欢的老师</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">产品金额</label>
			    		<div class="layui-input-inline">
			      			<input type="number" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">付款方式</label>
			    		<div class="layui-input-inline">
			      			<input type="text" name="title3" required  lay-verify="required" placeholder="" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">应收金额</label>
			    		<div class="layui-input-inline">
			    			<label class="layui-form-label">￥200.00</label>
						</div>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="layui-form-item layui-form-text">
			<fieldset class="layui-elem-field layui-field-title">
				<legend>备注信息</legend>
				<div class="layui-field-box">
					<label class="layui-form-label">备注说明</label>
					<div class="layui-input-block">
						<textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
			</fieldset>
		</div>
		
		<div class="layui-form-item">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<button class="layui-btn" lay-submit="" lay-filter="sub">提交订单</button>
				</div>
			</div>
		</div>
		
	</form>
</div>

<script>
	(function(){
		form.render();

		form.on('submit(sub)', function(data) {
			alert('123');
			return false;
		});

	})();
</script>