<div class="layui-main">
    
    <fieldset class="layui-elem-field">
        <legend>角色管理 - 新增 & 编辑</legend>
        <div class="layui-field-box">
            <div class="layui-form">
                <div class="layui-form-item admin-item-inline">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="title" required  lay-verify="required" placeholder="角色名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button class="layui-btn">新增</button>
                            <button class="layui-btn layui-btn-danger">修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="layui-form">
        <table class="layui-table">
            <colgroup>
                <col width="50">
                <col width="200">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>角色名称</th>
                    <th>权限列表</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>客服部</td>
                    <td>修改订单,关闭订单</td>
                    <td>
                        <a title="权限" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe613;</i>
                        </a>
                        <a title="编辑" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a title="删除" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>生产部</td>
                    <td>生产管理</td>
                    <td>
                        <a title="权限" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe613;</i>
                        </a>
                        <a title="编辑" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a title="删除" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <blockquote class="layui-elem-quote">
        生产人员名单 - 用于生产时,选择生产人
    </blockquote>

    <fieldset class="layui-elem-field">
        <legend>生产人员名单管理 - 新增 & 编辑</legend>
        <div class="layui-field-box">
            <div class="layui-form">
                <div class="layui-form-item admin-item-inline">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="title" required  lay-verify="required" placeholder="角色名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button class="layui-btn">新增</button>
                            <button class="layui-btn layui-btn-danger">修改</button>
                        </div>
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-primary" id="tplDelStaffAll">
                                <i class="layui-icon">&#xe640;</i> 批量删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="layui-form">
        <table class="layui-table">
            <colgroup>
                <col width="50">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                    <th>生产人</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" name="" lay-skin="primary"></td>
                    <td>梵天</td>
                    <td>
                        <a title="权限" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe613;</i>
                        </a>
                        <a title="编辑" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a title="删除" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" lay-skin="primary"></td>
                    <td>梵天</td>
                    <td>
                        <a title="权限" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe613;</i>
                        </a>
                        <a title="编辑" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a title="删除" class="layui-btn layui-btn-mini layui-btn-primary">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <div class="pages-pro-manage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<script>
    (function(){
        form.render();
        adminPage.page($('.pages-pro-manage'), 3);

        $('#tplDelStaffAll').off('click').on('click', function() {
            adminLayer.confirmInfoLayer('操作提示', '确认全部删除？');
        });

    })();
</script>